workflow-2-renewal-reminder.json
{
  "name": "Hot Spurs Gym - Renewal Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d73b25bc-1b46-442f-bea4-bed1b0f74c4e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE5Fh2MnQhsXLyK",
          "mode": "list",
          "cachedResultName": "Hot Spurs Gym",
          "cachedResultUrl": "https://airtable.com/appE5Fh2MnQhsXLyK"
        },
        "table": {
          "__rl": true,
          "value": "tbl1Xz8N5fpgB4Woo",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://airtable.com/appE5Fh2MnQhsXLyK/tbl1Xz8N5fpgB4Woo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "86d044fa-c92b-4b17-860a-bfd9923f3c86",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "vf5ftW33gpuHmdxp",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39ae5a04-9f7e-49c5-97e5-f7ab44a71cad",
              "leftValue": "={{ $json.fields['Renewal Date'] }}",
              "rightValue": "={{ $now.plus({days: 3}).toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "ce854db3-5aea-4133-8e96-c8d7c14b1128",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "⏰ Your Hot Spurs Gym Membership Expires in 3 Days!",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f9f9f9;\">      <div style=\"background-color: #1a1a2e; padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\">     <h1 style=\"color: #c9a84c; margin: 0;\">🏋️ HOT SPURS GYM</h1>     <p style=\"color: #ffffff; margin: 5px 0;\">Train Hard. Stay Strong.</p>   </div>    <div style=\"background-color: #ffffff; padding: 30px; border-radius: 0 0 10px 10px;\">     <h2 style=\"color: #1a1a2e;\">Hi {{ $json.fields['Full Name'] }}, ⏰</h2>     <p style=\"color: #555;\">This is a friendly reminder that your Hot Spurs Gym membership is expiring in <strong>3 days</strong>. Renew now to avoid any interruption to your access!</p>      <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">       <tr style=\"background-color: #f4f4f4;\">         <td style=\"padding: 12px; border: 1px solid #ddd;\"><strong>Member ID</strong></td>         <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.fields['Member ID'] }}</td>       </tr>       <tr>         <td style=\"padding: 12px; border: 1px solid #ddd;\"><strong>Membership Type</strong></td>         <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.fields['Membership Type'] }}</td>       </tr>       <tr style=\"background-color: #f4f4f4;\">         <td style=\"padding: 12px; border: 1px solid #ddd;\"><strong>Amount Due</strong></td>         <td style=\"padding: 12px; border: 1px solid #ddd;\">₦{{ $json.fields['Amount'] }}</td>       </tr>       <tr>         <td style=\"padding: 12px; border: 1px solid #ddd;\"><strong>Expiry Date</strong></td>         <td style=\"padding: 12px; border: 1px solid #ddd; color: #c0392b;\"><strong>{{ $json.fields['Renewal Date'] }}</strong></td>       </tr>     </table>      <div style=\"background-color: #c9a84c; padding: 15px; border-radius: 8px; text-align: center; margin: 20px 0;\">       <p style=\"color: #ffffff; margin: 0; font-size: 16px;\">💪 Renew today to keep crushing your goals with us!</p>     </div>      <p style=\"color: #555;\">You can renew by visiting the gym front desk, sending a bank transfer, or replying to this email and our team will assist you.</p>      <p style=\"color: #555; font-size: 13px;\">Warm regards,<br><strong>Hot Spurs Gym Team</strong></p>      <hr style=\"border: none; border-top: 1px solid #eeeeee; margin: 25px 0;\">      <div style=\"background-color: #1a1a2e; padding: 20px; border-radius: 8px; text-align: center;\">       <h3 style=\"color: #c9a84c; margin: 0 0 15px 0;\">📍 Find Us</h3>       <p style=\"color: #ffffff; margin: 5px 0;\">12 Athletic Avenue, Lekki Phase 1, Lagos, Nigeria</p>       <p style=\"color: #ffffff; margin: 5px 0;\">📞 +234 801 234 5678</p>       <p style=\"color: #ffffff; margin: 5px 0;\">📱 WhatsApp: +234 801 234 5678</p>       <p style=\"color: #ffffff; margin: 5px 0;\">📧 info@hotspursgym.ng</p>       <p style=\"color: #ffffff; margin: 5px 0;\">🌐 www.hotspursgym.ng</p>        <hr style=\"border: none; border-top: 1px solid #c9a84c; margin: 15px 0;\">        <h4 style=\"color: #c9a84c; margin: 0 0 10px 0;\">⏰ Opening Hours</h4>       <p style=\"color: #ffffff; margin: 5px 0;\">Monday – Friday: 5:00 AM – 10:00 PM</p>       <p style=\"color: #ffffff; margin: 5px 0;\">Saturday: 6:00 AM – 8:00 PM</p>       <p style=\"color: #ff6b6b; margin: 5px 0;\">Sunday: ❌ Closed</p>     </div>      <p style=\"color: #999; font-size: 11px; text-align: center; margin-top: 20px;\">       This email was sent automatically. Please do not reply directly to this email.     </p>    </div>  </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "b5d4f16e-3505-46d7-a534-8a2537c94dfb",
      "name": "Send a message",
      "webhookId": "cd028a9f-0ac5-4107-b0bd-0ece4e5059fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "DRAWtDTcaORE6b8E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "649030827",
        "text": "=🔔 *Renewal Reminder Sent!*\n\n👤 *Member:* {{ $('Search records').item.json.fields['Full Name'] }}\n📋 *Member ID:* {{ $('Search records').item.json.fields['Member ID'] }}\n💪 *Plan:* {{ $('Search records').item.json.fields['Membership Type'] }}\n💰 *Amount Due:* ₦{{ $('Search records').item.json.fields.Amount }}\n📅 *Expires:* {{ $('Search records').item.json.fields['Renewal Date'] }}\n📞 *Phone:* {{ $('Search records').item.json.fields.Phone }}\n📧 *Email:* {{ $('Search records').item.json.fields.Email }}\n\n⏰ Reminder email sent — 3 days to renewal.\n\n🏋️ *Hot Spurs Gym*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "d9e9e05a-ebd9-4389-8772-7b8075fba51b",
      "name": "Send a text message",
      "webhookId": "49c503ed-23aa-4c36-ad33-dcab1399923f",
      "credentials": {
        "telegramApi": {
          "id": "MIKCeP0Oc8WVJVTf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec187e95-5778-4256-b73b-c9adb5965f91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f0f8b04b583b3bc48bfafe715431755b4f8c3d117fcb725b133773386f9141f"
  },
  "nodeGroups": [],
  "id": "z6nstBB5Nf3PBACg",
  "tags": []
}
